# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# Flask instance folder
instance/
.webassets-cache

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db